name: Build
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        core_a: ["ESP32"]
        core_b: ["ESP8266"]
        board: ["ESP32"]
        opts: ["pnum=NUCLEO_F767ZI,upload_method=MassStorage,xserial=generic,usb=none,xusb=FS,opt=osstd,rtlib=nano"]
        apn: ["X", "Y", "Z"]
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v1.1.1
      - name: Install platform
        run: |
          arduino-cli core update-index --additional-urls 'https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json'
          arduino-cli core install ${{ matrix.core_a }}:${{ matrix.core_b }} --additional-urls 'https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json, http://arduino.esp8266.com/stable/package_esp8266com_index.json'
      - name: Compile Sketch
        working-directory: ./
        run: ARDUINO_DIRECTORIES_USER=$GITHUB_WORKSPACE arduino-cli compile -b ${{ matrix.core_a }}:${{ matrix.core_b }}:${{ matrix.board }}:${{ matrix.opts }} -e --build-property="compiler.cpp.extra_flags=\"-DAPN_${{ matrix.apn }}\""
      - name: Upload bin
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.core_a}}_${{ matrix.core_b }}_${{ matrix.board }}_${{ matrix.apn }}
          path: ./build/${{ matrix.core_a}}.${{ matrix.core_b }}.${{ matrix.board }}/microcontroller.ino.bin