name: Build
on: [push, pull_request]
jobs:
  build:
    # strategy:
      # matrix:
      #   core_a: ["ESP32"]
      #   core_b: ["ESP8266"]
      #   board: ["ESP32"]
      #   opts: ["pnum=NUCLEO_F767ZI,upload_method=MassStorage,xserial=generic,usb=none,xusb=FS,opt=osstd,rtlib=nano"]
      #   apn: ["X", "Y", "Z"]
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v1.1.1
      - name: Install platform
        run: |
          arduino-cli core update-index  --config-file $GITHUB_WORKSPACE/package_esp32_index.json
          arduino-cli core install ESP32:ESP32 --config-file $GITHUB_WORKSPACE/package_esp32_index.json
          ls -la
      - name: Compile Sketch
        working-directory: ./
        run: ARDUINO_DIRECTORIES_USER=$GITHUB_WORKSPACE arduino-cli compile -b ESP32:ESP32:ESP:pnum=NUCLEO_F767ZI,upload_method=MassStorage,xserial=generic,usb=none,xusb=FS,opt=osstd,rtlib=nano 
        # -e --build-property="compiler.cpp.extra_flags=\"-DAPN_${{ matrix.apn }}\""
      - name: Upload bin
        uses: actions/upload-artifact@v2
        with:
          # name: ${{ matrix.core_a}}_${{ matrix.core_b }}_${{ matrix.board }}_${{ matrix.apn }}
          name: Artifact
          path: ./build/Hello_World.ino.bin